.hidden {
  display: none;
}

body {
  background-color: pink;
}
.jumbotron {
  background-color: rgb(103, 38, 50);

}

.jumbotron h1 {
  color: azure;
}

.jumbotron p {
  color: azure;
}

.jumbotron button {
  background-color:rgb(132, 50, 65);
  border-color: black;
}
.my-4 {
  border-color: azure;

}


.container {
  padding: 10px;
  background-color:rgb(245, 213, 221);
}